<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<parser>
    <context-mapping>/test</context-mapping>
    <servlet-mapping>/Jahia</servlet-mapping>
    <date-format>yyyy-MM-dd HH:mm:ss\,SSS</date-format>
    <analyzers>
        <perf-analyzer>
            <matching-pattern>(.*?): .*\[org\.jahia\.bin\.Jahia\].*Processed \[(.*?)\](?: esi=\[(.*?)\])? user=\[(.*)\] ip=\[(.*)\] in \[(.*)ms\].*</matching-pattern>
        </perf-analyzer>
        <exception-analyzer>
            <firstline-pattern>^(Exception in thread \"(.*)\" )?([\w\d\.\s\"_-]*)(:.*)?$</firstline-pattern>
            <secondline-pattern>\s*at (.*)\(.*\)</secondline-pattern>
            <causedby-pattern>^Caused by: ([\w\d\._-]*)(:.*)?$</causedby-pattern>
        </exception-analyzer>
        <threaddump-analyzer>
            <threadinfo-pattern>"(.*?)" (daemon )?prio=(\d*) tid=(.*?) nid=(.*?) ([\w\.\(\) ]*)(\[(.*)\])?</threadinfo-pattern>
        </threaddump-analyzer>
        <standardlog-analyzer>
            <matching-pattern><![CDATA[(\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d\,\d\d\d):? (.*) \[([\w\.]*)] ([\w\.]*\:\d* )?- (.*)]]></matching-pattern>
        </standardlog-analyzer>
    </analyzers>
</parser>